@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap');

:root{
    --primary-color:rgb(102, 98, 98);
    --bisque:rgb(243, 189, 124);
    --light-gray:#F3F4F6;
}
body{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0px;
}

/**Container**/
.container{
    padding: 0rem 1rem;

}

.container-center
{
    max-width: 600px;
    margin:auto;
}

/**links**/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
  .primary-link{
 text-decoration: none;
background-color: var(--primary-color);
color:bisque;
border-radius: 0.5rem;

}

.secondary-link{
    color:var(--primary-color);
    border-radius: 0.5rem;
    text-decoration: none;
    background-color: bisque;
    text-align: center;
    border: solid 1px;


}

hr
{
    margin: 2rem 0rem;
}

.list-non-bullet{
    list-style: none;
}
.list-inline
{
display: inline;
padding: 1rem 5rem;
position: relative;
margin: auto;
}

.navigation{
    background-color: var(--primary-color);
    color: bisque;
    padding: 2rem 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-text{
    font-size: large;
    font-weight: bold;
}

.navigation .link{
    color: bisque;
}
.navigation .navpills{
    text-align: right;
}
.navigation .link-active{
    font-weight: bold;
}
/** header **/
.hero
{
    padding: 1rem;
}
.hero .hero-img{
    display: block;
    margin:auto;
    max-width: 350px;
}
.hero .hero-heading{
    text-align: center;
    padding-top: 1rem;
    color: var(--bisque);

}
.hero .hero-heading .heading-invert{
    color:var(--primary-color);
}

/**sections**/
.section{
    padding:2rem;
}

.section h1{
    text-align: center;
}

.ow{
    background-color: var(--light-gray);
}

/**footer**/
.footer{
    background-color: var(--primary-color);
    padding:2rem 1rem;
    text-align: center;
    color:bisque;
    border-top-right-radius: 1rem;
    display: block;
    border-top-left-radius: 1rem;
}

.footer .links{
    color:bisque;
    text-decoration: none;
    padding: 2rem 1rem;
}

/**space **/

.space{
    padding: 0rem 0.5rem;
}

